$bg-white: #F5F5F5;

$hive-blue: #adcdec;
$hive-yellow: #fadd29;
$hive-orange: #FAA73F;


$nav-link-active: $hive-blue;

$card-padding-top: 15px;
$card-padding-bottom: $card-padding-top;
$card-padding-right: 10px;
$card-padding-left: $card-padding-right;
